# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Data & Lakehouse storage
data/source/*
!data/source/.gitkeep
data/bronze/*
!data/bronze/.gitkeep
data/silver/*
!data/silver/.gitkeep
data/gold/*
!data/gold/.gitkeep

# OS / Editor junk
.DS_Store
.idea/
.vscode/
*.swp

# Logs
*.log
logs/

# Rill temporary working files
rill/tmp/

